@font-face {
    font-family: 'selise';
    src:    url('fonts/selise.eot?mp8150');
    src:    url('fonts/selise.eot?mp8150#iefix') format('embedded-opentype'),
        url('fonts/selise.ttf?mp8150') format('truetype'),
        url('fonts/selise.woff?mp8150') format('woff'),
        url('fonts/selise.svg?mp8150#selise') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sls-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'selise' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sls-icon-arrow-down:before {
    content: "\e900";
}
.sls-icon-arrow-right:before {
    content: "\e901";
}
.sls-icon-arrow-thin-right:before {
    content: "\e902";
}
.sls-icon-arrow-up:before {
    content: "\e903";
}
.sls-icon-cart:before {
    content: "\e904";
}
.sls-icon-close:before {
    content: "\e905";
}
.sls-icon-flexiplan:before {
    content: "\e906";
}
.sls-icon-minus:before {
    content: "\e907";
}
.sls-icon-plus:before {
    content: "\e908";
}
.sls-icon-recharge:before {
    content: "\e909";
}
.sls-icon-search:before {
    content: "\e90a";
}
.sls-icon-star:before {
    content: "\e90b";
}
.sls-icon-tick:before {
    content: "\e90c";
}
.sls-radio-checked:before {
    content: "\ea54";
}

