$icomoon-font-path: "fonts" !default;

$sls-icon-arrow-down: "\e900";
$sls-icon-arrow-right: "\e901";
$sls-icon-arrow-thin-right: "\e902";
$sls-icon-arrow-up: "\e903";
$sls-icon-cart: "\e904";
$sls-icon-close: "\e905";
$sls-icon-flexiplan: "\e906";
$sls-icon-minus: "\e907";
$sls-icon-plus: "\e908";
$sls-icon-recharge: "\e909";
$sls-icon-search: "\e90a";
$sls-icon-star: "\e90b";
$sls-icon-tick: "\e90c";
$sls-radio-checked: "\ea54";

