


//////////////////////////////////
// Fonts
//////////////////////////////////
@mixin georgiaregular() {
  font-family: georgiaregular;
}

@mixin georgiaItalic() {
  font-family: georgiaItalic;
}

@mixin ArcherBold() {
  font-family: ArcherBold;
}