extends layout/plain
block append global_variables
  -var title= 'navigation', bodyClass='page'

block header
  h1 Verizon Rocketship | HTML Templates | Mobile

block main_content
  div.cotainer
    p.test Life is about lourem ipsam .....
block footer

